body{
  margin: 0;
  padding: 0;
  background: #D8D8D8;
}

.header-content{
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
}

.header-text{
  font-size: 53px;
  font-family:  sans-serif;
  padding-right: 20px;
  font-weight: bold;
}

.header-image img{
  width: 200px;
  height: 120px;
}

.title{
  font-size: 45px;
  font-weight: bold;
  margin: 0 0 15px 75px;
}

tbody{
  position: absolute;
  margin-top: 40px;
}

.table{
  font-family: "Fira Sans", sans-serif;
  /* position: absolute; */
  margin:  0px 300px auto;
  border-collapse: collapse;
}

.table th{
  text-align: center;
}

.table td{
  font-size: 1em;
  font-family: "Fira-Sans", sans-serif;
  border: 1px solid #fff;
  font-weight: bold;
  font-style: italic;
}

#info-people{
  display: none;
}

.content{
  border: 2px solid gray;
  width: 800px;
  margin-left: 250px;
  height: 800px;
}

.content-data{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  padding: 10px;
}

.image-star-wars{
  width: 800px;
  height: 300px;
}

.blue-line{
  background-color: #00BFFF;
}

.purple-line{
  background-color: #8904B1;
}

.itens-character{
  font-weight: bold;
}

.itens-description{
  font-weight: normal;
}

.line{
  border-bottom: 3px solid black;
  position: absolute;
  width: 185px;
  top: 285px;
}

.select-section{
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  justify-content: center;
  text-align: center;
  top: 20px;
}

.select-section button{
  font-size: 18px;
  background-color: rgba(209,207,207, 0.575);
  box-shadow: 0 0  5px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  border: 0;
  padding: 3px;
}

.select-section button:hover{
  cursor: pointer;
}

.active{
  background-color: #87CEEB !important;
}

.characters-person button, .movies-person button, .starships-person button{
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 14px;
  padding:  0px;
}

.characters-anakin-line{
  width: 100px;
  border: 2px solid gray;
}

.info, .info2, .info3{
  display: none;
}

.btn-line::after{
  content:'';
  display: block;
  border: 2px solid transparent;
  margin-top: 6px;
  transition: 0.5s;
}

.btn-line.btn-active::after{
  content:'';
  border: 2px solid black;
  margin-top: 6px;
  transition: 0.5s;
}

.btn-line.btn-active ~ .info,.btn-line.btn-active ~ .info2,.btn-line.btn-active ~ .info3{
  display: block;
}

.person-name{
  width: 250px;
}

 .person-information{
  width: 125px;
} 

#search-input{
  height: 30px;
  position: initial;
  bottom: 490px;
  right: 0;
  width: 745px;
  border-radius: 5px;
  border: 1px solid gray;
}

#search-input::placeholder{
  font-size: 16px;
}

.search-container-icon span i{
  position: absolute;
  top: 266px;
  left: 1020px;
}

#prev-button{
  position:absolute;
  margin-top: 50px;
  background-color: blue;
  left: 950px;
}

#page1{
  position: relative;
  left: 990px;
  background-color: gold;
  margin-top: 51px;
}

#next-button2{
  position: absolute;
  top: 50px;
  left: 1030px;
  background-color: red;
}
  .table-title{
    position: relative;
    left: 300px;
    font-size: 35px;
  }

  .column-title{
    background-color: black;
    color: white;
    font-size: 27px;
  }

  .pagination-container{
    position: absolute;
  }

  .placeholder{
    color:gray;
    position: absolute;
    top:262px;
    right: 965px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  
  
















