body{
  margin: 0;
  padding: 0;
  background: #D8D8D8;
}

.header-content{
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
}

.header-text{
  font-size: 53px;
  font-family:  sans-serif;
  padding-right: 20px;
  font-weight: bold;
}

.header-image img{
  width: 200px;
  height: 120px;
}

.title{
  font-size: 45px;
  font-weight: bold;
  margin: 0 0 15px 75px;
}

.table{
  font-family: "Fira Sans", sans-serif;
  position: absolute;
  margin:  0px 300px auto;
  border-collapse: collapse;
}

.table th{
  text-align: center;
}

.table td{
  font-size: 1em;
  text-align: center;
  font-family: "Fira-Sans", sans-serif;
  border: 1px solid black;
  font-weight: bold;
  font-style: italic;
}

.table .search-input{
  background-color: none;
}

.content{
  display: none;
  border: 2px solid gray;
  width: 800px;
  margin-left: 250px;
  height: 800px;
}

.image-star-wars{
  width: 800px;
  height: 300px;
  position: absolute;
}

.blue-line{
  background-color: #00BFFF;
}

.purple-line{
  background-color: #8904B1;
}

.date-name{
  font-weight: bold;
  position: relative;
  font-size: 30px;
  margin: 0px 0 200px 250px;
  color: red;
}


/* character-title{
  position: relative;
  top: 0;
} */

.itens-character{
  font-weight: bold;
  position: relative;
}

.itens-description{
  font-weight: normal;
  position: absolute;
}

.line{
  border-bottom: 3px solid black;
  position: absolute;
  width: 185px;
  top: 285px;
}

.select-section{
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  justify-content: center;
  text-align: center;
  top: 20px;
}

.select-section button{
  font-size: 18px;
  background-color: rgba(209,207,207, 0.575);
  box-shadow: 0 0  5px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  border: 0;
  padding: 3px;
}

.select-section button:hover{
  cursor: pointer;
}

.active{
  background-color: #87CEEB !important;
}

.content:not(:first-child){
  display: none;
}

.content-section{
  margin: 40px;
  display: block;
  color: #666;
  display: grid;
}

.characters-person button{
  display: none;
  position: absolute;
  top: 485px;
  left: 290px;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 14px;
}

.characters-anakin-line{
  width: 100px;
  display: none;
  border: 2px solid gray;
}

.movies-person button{
  display: none;
  position: absolute;
  top: 485px;
  margin-left: 350px;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 14px;
}

/* .starships-person{
  background-color: #87CEEB;
} */

.starships-person button{
  display: none;
  margin-left: 500px;
  position: absolute;
  top: 487px;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 14px;
}

 .info{
  position: relative;
  top: 400px;
  margin-left: 50px;
 }

.info2{
  /* margin: 400px 50px; */
  position: absolute;
  top: 550px;
  margin-left: 50px;
}

.info3{
  position: absolute;
  top: 550px;
  margin-left: 50px;
}

.characters-person-line{
  border: 2px solid black ;
  width: 240px;
  position: absolute;
  margin: 110px 35px;
}

.movies-person-line{
  width: 110px;
  position: relative;
  border: 2px solid;
  margin: 365px 332px;
}

.starships-person-line{
  width: 170px;
  position: relative;
  margin: 365px 480px;
  border: 2px solid;
}











